{% extends 'base.html' %}
{% block title %}
    <title>豁然之境</title>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
{% endblock %}

{% block main %}
<div class="publish center-block">
    <!--<form class=form action="{% url 'myblog:post_publish' %}" method="post">{% csrf_token %}-->
    <form class=form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="{{ form.title.id_for_label }}">标题：</label>
                {{ form.title }}
            </div>
            <div class="col-md-24">
                <label for="{{ form.body.id_for_label }}">正文：</label>
                {{ form.body }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.tags.id_for_label }}">标签：</label>
                {{ form.tags }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.category.id_for_label }}">分类：</label>
                {{ form.category }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.excerpt.id_for_label }}">摘要：</label>
                {{ form.excerpt }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.excerpt.id_for_label }}">作者：</label>
                {{ form.author }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">发 布</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var editor = new Editor();
  editor.render();
</script>
{% endblock %}
