<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>用户资料</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1 class="logo"><a href="{% url 'myblog:index' %}">豁然之境</a></h1>
                <h3>用户资料</h3>
                <form class="form" action="#" method="post">
                    {% csrf_token %}
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </form>
                <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}"> 修改密码</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
